{% load static %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'login/signup.css' %}">
</head>
<body>
  <form method="post" style="border:1px solid #ccc">
      {% csrf_token %}
    <div class="container">
      <h1>Room Creation Form</h1>
      <br>
      <label for="id_days">Days:</label>&nbsp;&nbsp;
      <input type="number" name="days" required id="id_days" style="width: 300px; height: 30px;" value="{{ days }}">
      <br><br>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Create</button>
      </div>
    </div>
  </form>
</body>