<!DOCTYPE html>
{% load static %}
{% load nbsp %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'book/home.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="/book/new/booking" class="w3-bar-item w3-button">Create new booking</a>
  <a href="/user/logout" class="w3-bar-item w3-button">Logout</a>
</div>
<div style="margin-left:25%">

    <div class="w3-container w3-teal">
    <h1>Your Bookings</h1>
    </div>


    <div class="w3-container">
        {% for x in a %} 
                <div class="horizontal" style="margin-right: 16px">  
                    <li> 
                        {{ x.0|nbsp }}
                        {% if x.2 %}
                            <a href="/book/edit/{{ x.1 }}"><button class="btn edit" style="margin-left: 25px">Edit</button></a>
                            <a href="/book/{{ x.1 }}" onclick="return confirm('Are you sure you want to Remove?');"><button class="btn delete" style="margin-left: 25px">Delete</button></a>
                        {% endif %}
                    </li>    
                </div>
        {% endfor %}
    </div>
</div>     
</body>
</html>
